@import 'styles/base';

.restaurant {
    margin: 0 auto;
    max-width: $content-max-width;

    &__content {
        display: flex;

        @include respond-to($small-laptop-width, max) {
            flex-direction: column;
        }
    }

    &__information {
        margin: 0 40px 64px 0;
        width: 830px;

        @include respond-to($small-laptop-width, max) {
            margin: 0;
            width: 100%;
        }
    }

    &__aside {
        width: 395px;

        @include respond-to($small-laptop-width, max) {
            width: 100%;
        }
    }

    .eatout-page-section-title {
        margin-bottom: 24px;
    }
}
