@import '../../styles/base';

.eat-out {
    @include grid-one-row-3-items(card);

    margin-bottom: 44px;

    &__card {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        min-height: 230px;

        &-title {
            color: $grey-800;
            font-size: $font-size-24;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
            margin: 0 40px 24px;
            position: relative;
            text-align: center;
        }
    }
}
