$transparent: transparent;
$black: #000;
$white: #fff;
$green: #7bf1a8;
$lightblue: #72ddf7;
$yellow: #fadb5e;

$grey-100: #f6f7f8;
$grey-200: #edeff1;
$grey-300: #dcdfe3;
$grey-400: #cacfd5;
$grey-500: #94a3ad;
$grey-600: #6a7889;
$grey-650: #5f6b7a;
$grey-700: #3e5067;
$grey-750: #31465e;
$grey-770: #1f2d3d;
$grey-800: #001836;
$grey: $grey-500;

$purple-150: #b29efc;
$purple-200: #b892ff;
$purple-400: #a477f7;
$purple-500: #6e44ff;
$purple-600: #5836cc;
$purple-700: #462ca3;
$purple: $purple-500;

$red-500: #ff6e75;
$red-600: #ce4249;
$red: $red-500;
